* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* General Styling */
a {
    text-decoration: none;
}

/* Reusable Components */
.container {
    flex: 1;
    display: flex;
    max-width: 1400px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 48px 100px 0px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 240px;
}

/* HEADER */
header {
    flex: 0;
    height: 72px;
    padding: 24px;
    background-color: #06064e;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

header .container {
    gap: 88px;
}

header .logo {
    margin-right: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #aaa
}

header .fa {
    font-size: 22px;
}

/* SECTIONS */
section {
    flex: 1;
    padding: 24px;
    display: flex;
    justify-content: center;
}

section .container {
    align-items: center;
    flex-direction: column;
}

#components .card-container {
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 25px;
    max-height: 480px;

}

#components h2 {
    margin-bottom: 24px;
}

#components img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    flex: 0;
    height: 72px;
    padding: 24px;
    background-color: #06064e;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

footer .container {
    gap: 88px;
}

footer .copyright {
    margin-right: auto;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #aaa
}