<section
  class="projects"
  id="projects"
>
  <div class="container">
    <h1>My Projects</h1>
    <ul class="projects__list">
      {% for repo in collections.sortedRepos %}
        {% if repo.name !== "jkaps9.github.io" %}
          <li>
            <a
              href="https://jkaps9.github.io/{{ repo.name }}"
              target="_blank"
            >
              {{ repo.name }}

              <div class="project-screenshot">
                <img
                  src="{{ '/assets/images/screenshots/'+repo.name+'_screenshot.png' | url }}"
                  alt="screenshot"
                />
              </div>
              <p>Last updated: {{ repo.pushed_at | readableDate }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
